@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__node-concept {
  background: white;
  border: 2px solid #BDDDFC;
  border-radius: 8px;
  padding: 12px;
  min-width: 200px;
}

.react-flow__node-concept.selected {
  border-color: #6A89A7;
}

.react-flow__node-sync {
  background: white;
  border: 2px solid #BDDDFC;
  border-radius: 8px;
  padding: 12px;
  min-width: 250px;
}

.react-flow__node-sync.selected {
  border-color: #384959;
}